.link {
    color: #157eff;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Roboto-Bold';
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
        color: #157eff;
    }
}

@media screen and (max-width: 640px) {
    .drawer {
        & > div {
            flex-direction: row;
        }
    }
    .link {
        display: none;
    }
}
