@font-face {
    font-family: 'Roboto-Regular';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
}

:root {
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/* Global CSS variables */
:root {
    --thumb-color-primary: #222124;
    --thumb-color-secondary: #005bca;
    --track-color: #ececec;
    --border-radius: 10px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

/* Scrollbar css settings */
body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: var(--track-color);
    border-radius: var(--border-radius);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumb-color-primary);
    border-radius: var(--border-radius);
}

body *::-webkit-scrollbar {
    width: 5px;
}

body *::-webkit-scrollbar-track {
    background: var(--track-color);
    border-radius: var(--border-radius);
}

body *::-webkit-scrollbar-thumb {
    background-color: var(--thumb-color-secondary);
    border-radius: var(--border-radius);
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
